{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Capston_Design_Project</title>
        <link rel="stylesheet" href="{% static '/css/of.css' %}">
        <!-- favicon.ico 에러를 해결하기 위해 link를 걸어서 해결함 -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>

    <body>
        <h1>OF Team</h1>
        <p>Welcome!!</p>
        <p>Hello!! {{ user.username }}!!</p>
        {% if user.is_active and availability == True %}
            <input type="hidden" value="{{already_status}}" id="already_status">
            <!-- lock 버튼 -->
            <form method="POST" action="{% url 'of_lock' %}">
                {% csrf_token %}
                <fieldset>
                    <legend>Lock</legend>
                    <input type="submit" value="lock">
                    <input type="hidden" value="{{lock}}" name="lock">
                    <input type="hidden" value="{{unlock}}" name="unlock">
                    <br>
                </fieldset>
            </form>
            <br>

            <!-- unlock 버튼 -->
            <form method="POST" action="{% url 'qrcode_function' %}">
                {% csrf_token %}
                <fieldset>
                    <legend>Unlock</legend>
                    <input type="submit" value="unlock">
                    <input type="hidden" value="{{lock}}" name="lock">
                    <input type="hidden" value="{{unlock}}" name="unlock">
                    <br>
                </fieldset>
            </form>
            

            <!-- 상태 표시 부분 -->
            {% if lock %}
                <p style="color: red;">locking status</p>
                <p><img src="{% static '/img/lock.jpg' %}" alt=""></p>
            {% endif %}

            {% if unlock %}
                <p style="color: green;">locking status</p>
                <p><img src="{% static '/img/unlock.jpg' %}" alt=""></p>
            {% endif %}

        {% elif availability == False %}
            <fieldset>
                <legend>Authority</legend>
                <p style="color: red;">※ No access authority ※</p>
            </fieldset>
            <br>
            <fieldset>
                <legend>Invitation Message</legend>
                <p>초대메시지 받기</p>
            </fieldset>
        {% endif %}
        {% if user.username == "superuser" %}
            <fieldset>
                <legend>Invitation Message</legend>
                <p>초대메시지 보내기</p>
            </fieldset>
        {% endif %}

        <br><br>
        <!-- 회원가입 페이지에서 로그인 페이지로 이동 -->
        <!-- GET 방식으로 login 함수 호출 -->
        <form method="GET" action="{% url 'login' %}">
            <input type="submit" value="Back to login page">
        </form>

        <script src="/static/js/of.js?ver=1"></script>
    </body>
</html>

