h1 {
    text-align: center;
    font-style: italic;
    color: darkblue;
}

p {
    text-align: center;
}

form {
    text-align: center;
}

body {
    margin: 40px;
    margin-top: 50px;
}

div {
    border: 1px solid black;
}

fieldset {
    text-align: center;
}
